body {
    font-family: 'Roboto', sans-serif;
}


.header {
    background-color: #1f2937;
    display: flex;
    width: 100%;
    height: 60%;
    font-family: 'Roboto', sans-serif;
}

.bar {
    display: flex;
    width: 100px;
    height: 10px;
}

.logo h2 {
    padding-left: 70px;
    color: #f9faf8;;
    font-family: 'Roboto', sans-serif;
}

.a-links ul {
    display: flex;
    padding-left: 1000px;
    list-style-type: none;
    
}

.a-links li {
    padding-left: 60px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    color: #f9faf8;
    
}

.header-article {
    display: flex;
    margin-top: 120px;

}

.header-article-one {
    margin-top: 60px;
    color: #e5e7eb;
}

.header-article-one button {
    font-family: 'Roboto', sans-serif;
}


.header-article-two {
    margin-left: 550px;
    color: #e5e7eb;
}


.middle-article {
    padding-top: 50px;
    text-align: center;
}

.middle-article figure {
    height: 100px;
    width: 100px;
    border-style: double;
    display: inline-block;
}


.section-two {
    background-color: #e5e7eb;
    height: 270px;
    width: 100%;
}

.section-two blockquote {

    padding-top: 51px;
   margin-left: 500px;
   color: #1f2937;

}

.section-two h4 {
    line-height: 0.7;
}

.section-two p {

    margin-left: 820px;
    color: #1f2937;
    font-weight: 400;
    
}

.footer {
    justify-content: center;
    width: 100%;
}

.call-action-box {
    display: flex;
    background-color: #3882f6;
    width: 788px;
    height: 90px;
    margin-left: 400px;
    margin-top: 60px;
    margin-bottom: 30px;

}

.call-action-box h3 {
    margin-left: 35px;
}

.call-action-box button {
    width: 75px;
    height: 25px;
    margin-left: 290px;
    margin-top: 35px;
    border-style: solid;
    border-color: white;
    color: white;
    background-color: #3882f6;
    border-radius: 10px;
   

}

.call-action-box p {
    margin-top: 45px;
    color: white;
    font-family: 'Roboto', sans-serif;
   
}

.call-action-box h3 {
    padding-left: 13px;
    font-family: 'Roboto', sans-serif;
    color: white;
}



